<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/todo-home.css}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <head th:fragment="js">
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </head>

</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--a class="navbar-brand" href="#" > Curriculum Vitae</a-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Curriculum Vitae</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/cv' ? 'active':''}">
                <a class="nav-link" th:href="@{/cv}">Curriculum Vitae </a>
            </li>
            <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/todo' ? 'active':''}">
                <a class="nav-link" th:href="@{'/todo'}">TODO</a>
            </li>
        </ul>
    </div>

</nav>

</body>
</html>