<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <meta charset="UTF-8">
    <title>To Do</title>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container-fluid">
        <div id="myDIV" class="w3-card-4">
            <form th:action="@{/todo/add}" th:object="${newTodo}" method="post" >
                <h2>My To Do List</h2>
                <input id="todo-input" placeholder="Isikan todo" type="text" th:field="*{description}" required name="todo" class="w3-input w3-animate-input" >
                <br>
                <button type="submit" class="btn badge-dark">Tambah</button>
            </form>
        </div>
        <div >
            <br>



                <section class="tasks">
                    <header class="tasks-header">
                        <h2 class="tasks-title">To Do:</h2>
                        <a href="#" class="tasks-lists">Lists</a>
                    </header>
                    <fieldset class="tasks-list">
                        <div th:each="todoList,iterationStatus : ${todo}">
                        <label class="tasks-list-item">

                            <input type="checkbox" th:name="'task_'+${iterationStatus.index}" th:value="${iterationStatus.index}" class="tasks-list-cb">
                            <span class="tasks-list-mark"></span>
                            <span class="tasks-list-desc" th:text="${todoList.description}">Do laundry</span>

                        </label>
                        </div>

                    </fieldset>
                </section>



        </div>
    </div>

</body>
</html>