<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <meta charset="UTF-8">
    <title th:if="${name!=null}" th:text="${name} +', I hope you interested to hire me'"></title>
    <title th:if="${name==null}" th:text=" 'This is my CV' "></title>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container" id="firstElement">
        <div th:if="${name !=null}">
            <h3 th:text="${name} +', I hope you interested to hire me'"></h3>
        </div>
        <div th:if="${name== null}">
            <h3>This is my CV</h3>
        </div>
        <div >
            <h4 class="title">Biodata</h4>
            <div id="section-information" class="row" style="text-align: left">
                <div class="column">
                    <div class="image-cropper">
                        <img class="profile-pic" th:src="@{/img/693018.jpg}" alt="avatar" style="width: 70%">
                    </div>
                </div>
                <div class="column" id="self-introduction">
                    <h5>Name      : Adrika Novrialdi</h5>
                    <h5>Birthdate :  17-12-1998</h5>
                    <h5>Birthplace: Padang</h5>

                    <div id="section-education">
                        <h4 class="title">Education Information</h4>
                        <ul>
                            <li>
                                <h5>Information Systems, Universitas Indonesia (University of Indonesia)</h5>
                                <h5>Bachelor's studies</h5>
                            </li>
                        </ul>

                    </div>
                </div>


            </div>
            <div id="cv-content">

            <div id="section-paragraph">
                <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
                </div>
            </div>
        </div>
    </div>
<style>
    * {
        box-sizing: border-box;
    }

    /* Create three equal columns that sits next to each other */
    .column {
        float: left;
        width: 50%;
        padding: 1px;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    img {
        border-radius: 55%;
    }

    div{
        margin-bottom: 30px;
    }
    #firstElement{
        margin-top: 50px;
    }
    .column #firstElement{
        margin-top: 30px;
    }
    .title{
        margin-bottom: 30px;
    }
    #cv-content{
        border: 50px #b3d7ff;
        padding: 60px;
        margin: 50px;
    }

    #section-education{
        margin-top: 50px;
    }
</style>


</body>
</html>